<div class="container">
  <h1>All Kits</h1>
  <div class="card__layout">
    <% @kits.each do |kit| %>
      <%= render partial: 'kits/kitcard', object: kit, as: :kit %>
    <% end %>
  </div>
</div>
