.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {
	html {
		font-size: 0.8rem;
	}
}

@include media-breakpoint-up(md) {
	html {
		font-size: 0.8rem;
	}
}

@include media-breakpoint-up(lg) {
	html {
		font-size: 1rem;
	}
}
