<footer class="bg-light footer mt-auto py-4">
  <div class="container d-flex justify-content-between">
    <%= link_to 'About', about_path, class: "text-dark" %>
    <%= link_to 'Blog', 'https://medium.com/cookitmeals', class: "text-dark" %>
    <%= link_to 'Terms & Conditions', tc_path, class: "text-dark" %>
    <%= link_to 'Contact Us', contact_us_path, class: "text-dark" %>
  </div>
</footer>
