<div class="container my-5">
  <div class='text-center' id="logo__container">
    <%= image_tag 'logo.png' %>
    <p id="logo__text-overlay" class="display-1">COOKIT</p>
  </div>
  <h1>About Us</h1>
  <p class="h4">Cookit was born out of a desire to support the hospitality industry during the Covid crisis of 2020. Seeing the many independent food and beverage providers across the country exploring new approaches and ideas to supplement their revenues, we found meal kits some restaurants were putting together to be a fantastic way to bring the best of their food into our homes. Many of us have taken to cooking (or more of it!) since the lockdown while still craving cuisine and dishes beyond what is often available with meal kit companies. Cookit connects you to these wonderful creators, enabling you to make brilliant home-cooked meals using restaurant-quality ingredients and recipes.</p>
</div>
