<div class="container py-3">
  <div>
    <h1>Our Kits</h1>
    <div class="card-columns">
      <% @kits.first(9).each do |kit| %>
        <%= render partial: 'kits/kitcard', object: kit, as: :kit %>
      <% end %>
    </div>
  </div>
  <div>
    <h1>Our Restaurants</h1>
    <div class="card-columns">
      <% @restaurants.first(9).each do |restaurant| %>
        <%= render partial: 'restaurants/restaurantcard', object: restaurant, as: :restaurant %>
      <% end %>
    </div>
  </div>
</div>
