<div class="container py-3">
  <div>
    <h1>Our Kits</h1>
    <div class="card-columns">
      <% @kits.first(9).each do |kit| %>
        <%= render 'kits/kitcard', kit: kit %>
      <% end %>
    </div>
  </div>
  <div>
    <h1>Our Restaurants</h1>
    <div class="card-columns">
      <% @restaurants.first(9).each do |restaurant| %>
        <%= render 'restaurants/restaurantcard', restaurant: restaurant %>
      <% end %>
    </div>
  </div>
</div>
