<div class="container py-3">
  <div>
    <% if @kits.empty? && @restaurants.empty? %>
      <h1>No Results Found</h1>
    <% else %>
      <h1><%= @query ? "Results for " + @query.titlecase : "Our Kits" %></h1>
    <% end %>
    <div class="card-columns">
      <% @kits.each do |kit| %>
        <%= render 'kits/kitcard', kit: kit %>
      <% end %>
      <% unless @query %>
      </div>
    </div>
    <div>
      <h1>Our Restaurants</h1>
      <div class="card-columns">
      <% end %>
      <% @restaurants.each do |restaurant| %>
        <%= render 'restaurants/restaurantcard', restaurant: restaurant %>
      <% end %>
    </div>
    <% unless @query %>
    </div>
  <% end %>
</div>
