.card {
	&__layout {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem 1rem;
		margin-bottom: 1rem;
	}

	@media (max-width: 768px) {
		&__layout {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width: 420px) {
		&__layout {
			grid-template-columns: 1fr;
		}
	}

	&__pill-light {
		border: 1px solid $primary-dark;
		background-color: $white;
	}

	&__pill-dark {
		border: 1px solid $primary-light;
		background-color: $background-primary;
		color: $primary-text;
		font-size: 1.2rem;
	}

	&__photo-darken {
		height: 15rem;
		object-fit: cover;
		filter: brightness(70%);
	}

	&-img-top {
		height: 200px;
		object-fit: cover;
	}
}

a:hover {
	transition: all ease-in 0.2s;
	& .card {
		transform: scale(1.02);
		box-shadow: 1px 1px 6px rgba(41, 41, 50, 0.2);
		transition: all ease-in 0.2s;
	}
}
