.kit {
	&__info {
		display: grid;
		grid-template-columns: 1fr 2fr;
		width: 100%;
		// border-collapse: separate;
		// border-spacing: 1rem;
		// grid-template-columns: 1fr 2fr;

		&-left {
			// display: flex;
			// vertical-align: top;
		}
		&-right {
			height: 100%;
			margin-left: 2rem;
		}
	}
}

@media only screen and (max-width: 768px) {
	.kit__info {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 1rem;

		&-right {
			margin-left: unset;
		}
	}
	div[class^="kit__info-"] {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
	}
}

.carousel-cell {
	margin-bottom: 2rem;
	> img {
		display: block;
		height: 300px;
		width: fit-content;
		object-fit: contain;
	}
}

.restaurant--carousel-cell {
	margin-bottom: 2rem;
	> img {
		display: block;
		height: 300px;
		width: fit-content;
		object-fit: contain;
	}
}

@media (min-width: 768px) {
	// .carousel-cell {
	// 	height: 600px;
	// }

	.carousel-cell > img {
		height: 600px;
	}

	.restaurant--carousel-cell > img {
		height: 400px;
	}
}
